<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit <%= animal.name %></title>
</head>
<body>
    <div style='text-align: center; font-family: sans-serif;'>
    <form action='/mongooses/<%=animal._id%>' method='POST'>
        <label for='name'>Name:</label><br>
        <input type='text' name='name' value='<%=animal.name %>'><br>
        <label for='stripes'>Stripes:</label><br>
        <input type='number' name='stripes' value='<%=animal.stripes %>'><br>
        <label for='description'>Description</label><br>
        <textarea name='description' col='30' rows='5'><%=animal.description %></textarea><br>
        <input type='submit' value='Submit'>
    </form><br>
    <a href='/'>Go Back</a>
    </div>
</body>
</html>